<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
      <div class="wrapper">
        <header> 
          <h1>SBUMAD</h1>
          <p>Stony Brook University Mobile App Developers</p>
          <p class="view"><a href="http://github.com/orderedlist/modernist">View the Project on GitHub <small>orderedlist/modernist</small></a></p>
          <ul>
            <li><a href="https://www.facebook.com/groups/SBUMAD/">Join Us On<strong>Facebook</strong></a></li>
            <li><a href="../../../../../pages.html">Our <strong>Tutorials</strong></a></li>
            <li><a href="https://github.com/SBUMAD" style="color:#FFF;">View Us On <strong>GitHub</strong></a></li>
        </ul>
        </header>
        <section>
          {{ content }}
        </section>
      </div>
      <footer>
        <p>Founded by <a href="http://github.com/orderedlist">Maximilian Rogers</a></p>
        <p>Hosted on GitHub Pages &mdash; Theme influenced by <a href="https://github.com/orderedlist">orderedlist</a></p>
      </footer>
    </body>
</html>
